<div class="parent">
    <div class="child">
        <div class="Main">
            <h2>Student Login</h2>
            <form [formGroup]="loginForm">
            <label>Enter Email:</label>
            <input type="text" placeholder="email" formControlName="email">
            <br>
            <label>Password</label>
            <input type="password" placeholder="password" formControlName="password">
            <br>
            <br>

            <button (click)="login()">Login</button>
        </form>
        </div>
    </div>
</div>